{% extends "::base.html.twig" %}

{% block title %}StoreBundle:Product:list{% endblock %}

{% block body %}
    <h1>Welcome to the Product:list page</h1>

    {{ form(form) }}

    <table>
        <thead>
        <tr>
            <td>
                name
            </td>
            <td>
                brand
            </td>
            <td>
                price
            </td>
        </tr>
        </thead>

        <tbody id="product-list">
        {% include 'StoreBundle:Product:listPartial.html.twig' %}
        </tbody>

    </table>

{% endblock %}
